<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.contextmapper.org/dsl/ContextMappingDSL"
			class = "org.contextmapper.dsl.contextMappingDSL.ContextMappingDSLPackage"
			genModel = "model/generated/ContextMappingDSL.genmodel" />
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://contextmapper.org/tactic/dsl/tacticdsl"
			class = "org.contextmapper.tactic.dsl.tacticdsl.TacticdslPackage"
			genModel = "model/generated/TacticDDDLanguage.genmodel" />
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.contextmapper.org/servicecutter/dsl/ServiceCutterConfigurationDSL"
			class = "org.contextmapper.servicecutter.dsl.serviceCutterConfigurationDSL.ServiceCutterConfigurationDSLPackage"
			genModel = "model/generated/ServiceCutterConfigurationDSL.genmodel" />
	</extension>
</plugin>
