<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.editor.CMLEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="cml"
			icon="icons/cml.png"
			id="org.contextmapper.dsl.ContextMappingDSL"
			name="ContextMappingDSL Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.contextmapper.servicecutter.dsl.ui.editor.SCLEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="scl"
			icon="icons/cml.png"
			id="org.contextmapper.dsl.ServiceCutterConfigurationDSL"
			name="ServiceCutter Configuration Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.contextmapper.dsl.ContextMappingDSL.validate">
		<activeWhen>
			<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.contextmapper.dsl.ContextMappingDSL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="org.contextmapper.dsl.ContextMappingDSL.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.contextmapper.dsl.ContextMappingDSL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL"
			name="ContextMappingDSL">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
		</page>
		<page
			category="org.contextmapper.dsl.ContextMappingDSL"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
		</page>
		<page
			category="org.contextmapper.dsl.ContextMappingDSL"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL.templates"
			name="Templates">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL"
			name="ContextMappingDSL">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"
			label="ContextMappingDSL"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="org.contextmapper.dsl.ContextMappingDSL.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.contextmapper.dsl.ContextMappingDSL.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="cml"
			id="org.contextmapper.dsl.ContextMappingDSL.contenttype"
			name="ContextMappingDSL File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="cml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="cml">
		</resourceServiceProvider>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="scl"
			id="org.contextmapper.dsl.ServiceCutterConfigurationDSL.contenttype"
			name="ServiceCutter Configuration File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="scl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="scl">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.contextmapper.dsl.ContextMappingDSL -->
	<extension
			id="contextmappingdsl.check.fast"
			name="ContextMappingDSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="contextmappingdsl.check.normal"
			name="ContextMappingDSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="contextmappingdsl.check.expensive"
			name="ContextMappingDSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.contextmapper.dsl.ContextMappingDSL"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
		</page>
	</extension>
	<!-- don't want to automatically call all generators at save at the moment...
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="cml"/>
	</extension>-->
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.contextmapper.dsl.ContextMappingDSL"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.contextmapper.dsl.ContextMappingDSL"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.contextmapper.dsl.ContextMappingDSL.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
		<command
            name="Refactoring Quick Menu"
            description="Open the refactoring quick menu."
            categoryId="org.eclipse.xtext.ui.category.refactoring"
            id="org.contextmapper.ui.edit.cml.refactor.quickMenu">
		</command>
		<command
            name="Generators Quick Menu"
            description="Open the generators quick menu."
            categoryId="org.eclipse.xtext.ui.category.refactoring"
            id="org.contextmapper.ui.edit.cml.generator.quickMenu">
		</command>
		<command
            name="Generators Quick Menu"
            description="Open the generators quick menu."
            categoryId="org.eclipse.xtext.ui.category.refactoring"
            id="org.contextmapper.servicecutter.dsl.ui.edit.scl.generator.quickMenu">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.contextmapper.dsl.ContextMappingDSL -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.contextmapper.dsl.ui.contextmappingdsl.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.contextmapper.dsl.ui.contextmappingdsl.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.contextmapper.dsl.ui.contextmappingdsl.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Refactorings -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SplitAggregateByEntitiesRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SplitAggregateByEntitiesRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SplitBoundedContextByUseCasesRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SplitBoundedContextByUseCasesRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SplitBoundedContextByOwnerRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SplitBoundedContextByOwnerRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ExtractAggregatesByVolatilityRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.ExtractAggregatesByVolatilityRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ExtractAggregatesByCohesionRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.ExtractAggregatesByCohesionRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.MergeBoundedContextsRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.MergeBoundedContextsRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.MergeAggregatesRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.MergeAggregatesRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ExtractSharedKernelRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.ExtractSharedKernelRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SuspendPartnershipRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SuspendPartnershipRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SwitchFromSharedKernelToPartnershipRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SwitchFromSharedKernelToPartnershipRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SwitchFromPartnershipToSharedKernelRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SwitchFromPartnershipToSharedKernelRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.GenerateSubdomainFromUserRequirementsRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.GenerateSubdomainFromUserRequirementsRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.GenerateBoundedContextFromSubdomainRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.GenerateBoundedContextFromSubdomainRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.GenerateBackendFrontendSystemsFromFeatureBCRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.GenerateBackendFrontendSystemsFromFeatureBCRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.SplitSystemIntoSubsystemsRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.SplitSystemIntoSubsystemsRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ExtractSuggestedServiceRefactoringHandler"
			commandId="org.contextmapper.dsl.ui.handler.ExtractSuggestedServiceRefactoringCommand">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Split Bounded Context by Duplicate Entity Name" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SplitBoundedContextRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Split Aggregate by Entities" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SplitAggregateByEntitiesRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Split Bounded Context by Features" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SplitBoundedContextByUseCasesRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Split Bounded Context by Owner (Team)" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SplitBoundedContextByOwnerRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Extract Aggregates by Volatility" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.ExtractAggregatesByVolatilityRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Extract Aggregates by Cohesion" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.ExtractAggregatesByCohesionRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Merge Bounded Contexts" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.MergeBoundedContextsRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Merge Aggregates" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.MergeAggregatesRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Extract Shared Kernel" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.ExtractSharedKernelRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Suspend Partnership" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SuspendPartnershipRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Change to Partnership" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SwitchFromSharedKernelToPartnershipRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Change to Shared Kernel" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SwitchFromPartnershipToSharedKernelRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Derive Subdomain From User Requirements" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.GenerateSubdomainFromUserRequirementsRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Derive Bounded Context From Subdomains" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.GenerateBoundedContextFromSubdomainRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Derive Frontend and Backend Systems" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.GenerateBackendFrontendSystemsFromFeatureBCRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Split System Context Into Subsystems" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.SplitSystemIntoSubsystemsRefactoringCommand">
	      </command>
	</extension>
	<extension
	      point="org.eclipse.ui.commands">
	      <command name="Extract Suggested Service in Original Model" categoryId="org.eclipse.xtext.ui.category.refactoring"
             id="org.contextmapper.dsl.ui.handler.ExtractSuggestedServiceRefactoringCommand">
	      </command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.contextmapper.dsl.ContextMappingDSL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.contextmapper.dsl.ContextMappingDSL"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.contextmapper.dsl.ContextMappingDSL.refactoring"
			name="Refactoring">
			<keywordReference id="org.contextmapper.dsl.ui.keyword_ContextMappingDSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.contextmapper.dsl.ContextMappingDSL.compare.contentViewers"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="cml">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.contextmapper.dsl.ContextMappingDSL.contenttype"
			contentViewerId="org.contextmapper.dsl.ContextMappingDSL.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.contextmapper.dsl.ContextMappingDSL.compare.contentMergeViewers"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="cml" label="ContextMappingDSL Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.contextmapper.dsl.ContextMappingDSL.contenttype"
			contentMergeViewerId="org.contextmapper.dsl.ContextMappingDSL.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.contextmapper.dsl.ContextMappingDSL.editors.documentProviders"
			class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="cml">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="cml"
			type="text">
		</fileTypes>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.contextmapper.dsl.ServiceCutterConfigurationDSL.compare.contentViewers"
			class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="scl">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.contextmapper.dsl.ServiceCutterConfigurationDSL.contenttype"
			contentViewerId="org.contextmapper.dsl.ServiceCutterConfigurationDSL.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.contextmapper.dsl.ServiceCutterConfigurationDSL.compare.contentMergeViewers"
			class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="scl" label="ContextMappingDSL Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.contextmapper.dsl.ServiceCutterConfigurationDSL.contenttype"
			contentMergeViewerId="org.contextmapper.dsl.ServiceCutterConfigurationDSL.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.contextmapper.dsl.ServiceCutterConfigurationDSL.editors.documentProviders"
			class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="scl">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="scl"
			type="text">
		</fileTypes>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ServiceCutterGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.ServiceCutterGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ContextMapGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.ContextMapGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.PlantUMLGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.PlantUMLGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.XMIGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.XMIGenerationCommand">
		</handler>
		<handler class="org.contextmapper.servicecutter.dsl.ui.ServiceCutterConfigurationDSLExecutableExtensionFactory:org.contextmapper.servicecutter.dsl.ui.handler.ServiceCutterUserRepresentationJSONGenerationHandler"
			commandId="org.contextmapper.servicecutter.dsl.ui.handler.ServiceCutterUserRepresentationsJSONGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.CMLByServiceCutterOutputGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.CMLByServiceCutterOutputGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsExampleGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsExampleGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.MDSLGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.MDSLGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.NewServiceCutContextMapGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.NewServiceCutContextMapGenerationCommand">
		</handler>
		<handler class="org.contextmapper.dsl.ui.ContextMappingDSLExecutableExtensionFactory:org.contextmapper.dsl.ui.handler.GenericTextFileGenerationHandler"
			commandId="org.contextmapper.dsl.ui.handler.GenericTextFileGenerationCommand">
		</handler>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command name="Generate Service Cutter Input (ERD as JSON)" id="org.contextmapper.dsl.ui.handler.ServiceCutterGenerationCommand"></command>
		<command name="Generate Graphical Context Map" id="org.contextmapper.dsl.ui.handler.ContextMapGenerationCommand"></command>
		<command name="Generate PlantUML Diagrams" id="org.contextmapper.dsl.ui.handler.PlantUMLGenerationCommand"></command>
		<command name="Save Model as XMI" id="org.contextmapper.dsl.ui.handler.XMIGenerationCommand"></command>
		<command name="Generate Service Cutter User Representation JSON File" id="org.contextmapper.servicecutter.dsl.ui.handler.ServiceCutterUserRepresentationsJSONGenerationCommand"></command>
		<command name="Generate ContextMap by ServiceCutter Output" id="org.contextmapper.dsl.ui.handler.CMLByServiceCutterOutputGenerationCommand"></command>
		<command name="Generate Service Cutter User Representations (SCL)" id="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsGenerationCommand"></command>
		<command name="Generate Service Cutter User Representation Example File (SCL)" id="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsExampleGenerationCommand"></command>
		<command name="Generate MDSL Service Contracts" id="org.contextmapper.dsl.ui.handler.MDSLGenerationCommand"></command>
		<command name="Generate New Service Cut" id="org.contextmapper.dsl.ui.handler.NewServiceCutContextMapGenerationCommand"></command>
		<command name="Generate Text File with Freemarker Template" id="org.contextmapper.dsl.ui.handler.GenericTextFileGenerationCommand"></command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu id="org.contextmapper.dsl.ui.menu" label="Context Mapper" icon="icons/cml.png">
				<command defaultHandler="org.contextmapper.dsl.ui.handler.ContextMapGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.ContextMapGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.PlantUMLGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.PlantUMLGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.GenericTextFileGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.GenericTextFileGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<separator
	         		name="org.contextmapper.dsl.ui.separator1" visible="true">
				</separator>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.MDSLGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.MDSLGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<separator
	         		name="org.contextmapper.dsl.ui.separator2" visible="true">
				</separator>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.NewServiceCutContextMapGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.NewServiceCutContextMapGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.ServiceCutterGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.ServiceCutterGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.servicecutter.dsl.ui.handler.ServiceCutterUserRepresentationJSONGenerationHandler" commandId="org.contextmapper.servicecutter.dsl.ui.handler.ServiceCutterUserRepresentationsJSONGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.scl"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.CMLByServiceCutterOutputGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.CMLByServiceCutterOutputGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.json"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsExampleGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.ServiceCutterUserRepresentationsExampleGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<separator
	         		name="org.contextmapper.dsl.ui.separator3" visible="true">
				</separator>
				<command defaultHandler="org.contextmapper.dsl.ui.handler.XMIGenerationHandler" commandId="org.contextmapper.dsl.ui.handler.XMIGenerationCommand" style="push">
					<visibleWhen checkEnabled="false">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.name" value="*.cml"/>
							</adapt>
						</iterate>
					</visibleWhen>
				</command>	
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.startup">
		<startup class="org.contextmapper.dsl.ui.startup.ContextMapperPluginStartup"/>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
    	<wizard
        	icon="icons/cml-dialog-image.png"
            class="org.contextmapper.dsl.ui.wizard.NewCMLFileWizard"
            category="org.contextmapper.dsl"
            name="New Context Mapper DSL (CML) File"
            id="org.contextmapper.dsl.ui.wizard.NewCMLFileWizard">
			<description>Add new CML file</description>
    	</wizard>
    	<category
            name="Context Mapper"
            id="org.contextmapper.dsl">
		</category>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
    	<wizard 
    		category="org.eclipse.ui.Examples/org.contextmapper.dsl.examples"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            icon="icons/cml-dialog-image.png"
            id="org.contextmapper.generator.template.samples.FreemarkerGenerationTemplateExamplesWizard"
            name="Freemarker Generator Template Examples"
            project="true">
			<description>A few example templates for the Context Mapper generic generator based on Freemarker.</description>
		</wizard>
		<category
            name="Context Mapper Examples"
            id="org.contextmapper.dsl.examples"
            parentCategory="org.eclipse.ui.Examples">
		</category>
    </extension>
    <extension point="org.eclipse.emf.common.ui.examples">
    	<example wizardID="org.contextmapper.generator.template.samples.FreemarkerGenerationTemplateExamplesWizard">
    		<projectDescriptor name="context-mapper-freemarker-template-examples"
            	contentURI="samples/freemarker/"
            	description="A project containing Freemarker example templates for Context Mapper's generic generator."/>
    	</example>
    </extension>
	<extension point="org.eclipse.ui.contexts">
		<context
			description="CML Editor Context"
			id="org.contextmapper.ui.cml.editor.CMLEditorScope"
			name="CML Editor Context"
			parentId="org.eclipse.xtext.ui.XtextEditorScope">
		</context>
		<context
			description="SCL Editor Context"
			id="org.contextmapper.ui.scl.editor.SCLEditorScope"
			name="SCL Editor Context"
			parentId="org.eclipse.xtext.ui.XtextEditorScope">
		</context>
	</extension>
	<extension
         point="org.eclipse.ui.bindings">
         <key
            sequence="M2+M3+T"
            commandId="org.contextmapper.ui.edit.cml.refactor.quickMenu"
            contextId="org.contextmapper.ui.cml.editor.CMLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
         <key
            platform="carbon"
            sequence="COMMAND+ALT+T"
            commandId="org.contextmapper.ui.edit.cml.refactor.quickMenu"
            contextId="org.contextmapper.ui.cml.editor.CMLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
         <key
            sequence="M2+M3+G"
            commandId="org.contextmapper.ui.edit.cml.generator.quickMenu"
            contextId="org.contextmapper.ui.cml.editor.CMLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
         <key
            platform="carbon"
            sequence="COMMAND+ALT+G"
            commandId="org.contextmapper.ui.edit.cml.generator.quickMenu"
            contextId="org.contextmapper.ui.cml.editor.CMLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
         <key
            sequence="M2+M3+G"
            commandId="org.contextmapper.servicecutter.dsl.ui.edit.scl.generator.quickMenu"
            contextId="org.contextmapper.ui.scl.editor.SCLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
         <key
            platform="carbon"
            sequence="COMMAND+ALT+G"
            commandId="org.contextmapper.servicecutter.dsl.ui.edit.scl.generator.quickMenu"
            contextId="org.contextmapper.ui.scl.editor.SCLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>
</plugin>
