# This is a basic workflow that is manually triggered

name: Manual Test

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    - name: Setup JDK 11
      uses: joschi/setup-jdk@v2
      with:
        java-version: '11'
    - name: Print Java version
      run: java --version
    - name: Install Graphviz
      run: sudo apt-get -y install graphviz
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean build
